@media (min-width: 992px) {
  .fonctionnement_option {
    align-items: flex-start;
  }

  .fonctionnement_carte {
    width: 600px;
  }

  .menu__parties {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .partie {
    width: 31%;
  }

  .check {
    width: 60px;
  }

  .menu_carte:hover .prix {
    transform: translateX(-50px);
  }
}
