@media (min-width: 678px) {
  .restaurants_gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .restaurants_carte {
    width: 48%;
  }
}
